 .google-map {
   height: 91vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 10vw;
  }
  
  .pin-icon {
    font-size: 3rem;
    z-index:1;
  }
  
  .pin-text {
    font-size: 1em;
    display: block;
    background-color: green ;
    z-index:-1;
  }

  .pin-miss {
    font-size: 1em;
    display: block;
    background-color: red ;
    z-index:-1;
  }
  
  @media only screen and (min-width: 799px) {
  
    .google-map {
      height: 90.3vh;
     }

    .pin-text {
        font-size: 1.8em;
    }

    .pin-miss {
      font-size: 1.8em;
  }

    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 4rem;
    }
  }